In [ ]:
####practicing with a dataset that Ivan gave us on slack

In [1]:
import os

import numpy as np

import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [3]:
df_dir = '/Users/nikka.keivanfar/Desktop'

In [4]:
df_file = os.path.join(df_dir, "storms.csv.gz")

In [5]:
df_file

'/Users/nikka.keivanfar/Desktop/storms.csv.gz'

In [6]:
ls

01/                          05/
02/                          06/
03/                          7 17 practice dataset.ipynb
04/

In [8]:
df=pd.read_csv('/Users/nikka.keivanfar/Desktop/DataScience/storms.csv.gz')

/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,9,10,11,12,16,17,27,28,29,30,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,8755.0,0.0,0.0,NaN,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong cold front moved s...,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A strong westerly flow alof...,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A 960 mb low over the south...,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: An intense upper level low ...,902297.0

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df.shape[0]

902297

In [12]:
len(df)

902297

In [13]:
df.shape[1] ###there are 37 columns

37

In [14]:
for column in df.columns:
    print column

STATE__
BGN_DATE
BGN_TIME
TIME_ZONE
COUNTY
COUNTYNAME
STATE
EVTYPE
BGN_RANGE
BGN_AZI
BGN_LOCATI
END_DATE
END_TIME
COUNTY_END
COUNTYENDN
END_RANGE
END_AZI
END_LOCATI
LENGTH
WIDTH
F
MAG
FATALITIES
INJURIES
PROPDMG
PROPDMGEXP
CROPDMG
CROPDMGEXP
WFO
STATEOFFIC
ZONENAMES
LATITUDE
LONGITUDE
LATITUDE_E
LONGITUDE_
REMARKS
REFNUM

In [15]:
df.isnull()

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,False,False,False,False,False,...,False,False,False,True,False
1,False,False,False,False,False,...,False,False,False,True,False
2,False,False,False,False,False,...,False,False,False,True,False
3,False,False,False,False,False,...,False,False,False,True,False
4,False,False,False,False,False,...,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
902292,False,False,False,False,False,...,False,False,False,False,False
902293,False,False,False,False,False,...,False,False,False,False,False
902294,False,False,False,False,False,...,False,False,False,False,False
902295,False,False,False,False,False,...,False,False,False,False,False
902296,False,False,False,False,False,...,False,False,False,False,False

In [16]:
df.isnull().sum().sum() ###lots of missing values in the dataset

6645709L

In [17]:
df.info

<bound method DataFrame.info of         STATE__            BGN_DATE     BGN_TIME TIME_ZONE  COUNTY    ...     \
0           1.0   4/18/1950 0:00:00          130       CST    97.0    ...
1           1.0   4/18/1950 0:00:00          145       CST     3.0    ...
2           1.0   2/20/1951 0:00:00         1600       CST    57.0    ...
3           1.0    6/8/1951 0:00:00          900       CST    89.0    ...
4           1.0  11/15/1951 0:00:00         1500       CST    43.0    ...
...         ...                 ...          ...       ...     ...    ...
902292     56.0  11/30/2011 0:00:00  10:30:00 PM       MST     7.0    ...
902293     30.0  11/10/2011 0:00:00  02:48:00 PM       MST     9.0    ...
902294      2.0   11/8/2011 0:00:00  02:58:00 PM       AKS   213.0    ...
902295      2.0   11/9/2011 0:00:00  10:21:00 AM       AKS   202.0    ...
902296      1.0  11/28/2011 0:00:00  08:00:00 PM       CST     6.0    ...

       LONGITUDE LATITUDE_E LONGITUDE_  \
0         8812.0     3051.0     8806.0
1         8755.0        0.0        0.0
2         8742.0        0.0        0.0
3         8626.0        0.0        0.0
4         8642.0        0.0        0.0
...          ...        ...        ...
902292       0.0        0.0        0.0
902293       0.0        0.0        0.0
902294       0.0        0.0        0.0
902295       0.0        0.0        0.0
902296       0.0        0.0        0.0

                                                  REMARKS    REFNUM
0                                                     NaN       1.0
1                                                     NaN       2.0
2                                                     NaN       3.0
3                                                     NaN       4.0
4                                                     NaN       5.0
...                                                   ...       ...
902292  EPISODE NARRATIVE: A strong cold front moved s...  902293.0
902293  EPISODE NARRATIVE: A strong westerly flow alof...  902294.0
902294  EPISODE NARRATIVE: A 960 mb low over the south...  902295.0
902295  EPISODE NARRATIVE: A 960 mb low over the south...  902296.0
902296  EPISODE NARRATIVE: An intense upper level low ...  902297.0

[902297 rows x 37 columns]>

In [20]:
df.groupby('TIME_ZONE')

In [21]:
df.head

<bound method DataFrame.head of         STATE__            BGN_DATE     BGN_TIME TIME_ZONE  COUNTY    ...     \
0           1.0   4/18/1950 0:00:00          130       CST    97.0    ...
1           1.0   4/18/1950 0:00:00          145       CST     3.0    ...
2           1.0   2/20/1951 0:00:00         1600       CST    57.0    ...
3           1.0    6/8/1951 0:00:00          900       CST    89.0    ...
4           1.0  11/15/1951 0:00:00         1500       CST    43.0    ...
...         ...                 ...          ...       ...     ...    ...
902292     56.0  11/30/2011 0:00:00  10:30:00 PM       MST     7.0    ...
902293     30.0  11/10/2011 0:00:00  02:48:00 PM       MST     9.0    ...
902294      2.0   11/8/2011 0:00:00  02:58:00 PM       AKS   213.0    ...
902295      2.0   11/9/2011 0:00:00  10:21:00 AM       AKS   202.0    ...
902296      1.0  11/28/2011 0:00:00  08:00:00 PM       CST     6.0    ...

       LONGITUDE LATITUDE_E LONGITUDE_  \
0         8812.0     3051.0     8806.0
1         8755.0        0.0        0.0
2         8742.0        0.0        0.0
3         8626.0        0.0        0.0
4         8642.0        0.0        0.0
...          ...        ...        ...
902292       0.0        0.0        0.0
902293       0.0        0.0        0.0
902294       0.0        0.0        0.0
902295       0.0        0.0        0.0
902296       0.0        0.0        0.0

                                                  REMARKS    REFNUM
0                                                     NaN       1.0
1                                                     NaN       2.0
2                                                     NaN       3.0
3                                                     NaN       4.0
4                                                     NaN       5.0
...                                                   ...       ...
902292  EPISODE NARRATIVE: A strong cold front moved s...  902293.0
902293  EPISODE NARRATIVE: A strong westerly flow alof...  902294.0
902294  EPISODE NARRATIVE: A 960 mb low over the south...  902295.0
902295  EPISODE NARRATIVE: A 960 mb low over the south...  902296.0
902296  EPISODE NARRATIVE: An intense upper level low ...  902297.0

[902297 rows x 37 columns]>

In [24]:
df.groupby('STATE').FATALITIES.count()

STATE
AK     4391
AL    22739
AM     1879
AN     3250
AR    27102
      ...
WA     3312
WI    19781
WV     9099
WY     7332
XX        2
Name: FATALITIES, Length: 72, dtype: int64

In [26]:
df.groupby('STATE').FATALITIES.count()

STATE
AK     4391
AL    22739
AM     1879
AN     3250
AR    27102
      ...
WA     3312
WI    19781
WV     9099
WY     7332
XX        2
Name: FATALITIES, Length: 72, dtype: int64

In [31]:
df.dropna()

Empty DataFrame
Columns: [STATE__, BGN_DATE, BGN_TIME, TIME_ZONE, COUNTY, COUNTYNAME, STATE, EVTYPE, BGN_RANGE, BGN_AZI, BGN_LOCATI, END_DATE, END_TIME, COUNTY_END, COUNTYENDN, END_RANGE, END_AZI, END_LOCATI, LENGTH, WIDTH, F, MAG, FATALITIES, INJURIES, PROPDMG, PROPDMGEXP, CROPDMG, CROPDMGEXP, WFO, STATEOFFIC, ZONENAMES, LATITUDE, LONGITUDE, LATITUDE_E, LONGITUDE_, REMARKS, REFNUM]
Index: []

[0 rows x 37 columns]

In [32]:
df.dropna(axis=1)

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,PROPDMG,CROPDMG,LONGITUDE,LONGITUDE_,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,25.0,0.0,8812.0,8806.0,1.0
1,1.0,4/18/1950 0:00:00,145,CST,3.0,...,2.5,0.0,8755.0,0.0,2.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,25.0,0.0,8742.0,0.0,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,2.5,0.0,8626.0,0.0,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,2.5,0.0,8642.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
902292,56.0,11/30/2011 0:00:00,10:30:00 PM,MST,7.0,...,0.0,0.0,0.0,0.0,902293.0
902293,30.0,11/10/2011 0:00:00,02:48:00 PM,MST,9.0,...,0.0,0.0,0.0,0.0,902294.0
902294,2.0,11/8/2011 0:00:00,02:58:00 PM,AKS,213.0,...,0.0,0.0,0.0,0.0,902295.0
902295,2.0,11/9/2011 0:00:00,10:21:00 AM,AKS,202.0,...,0.0,0.0,0.0,0.0,902296.0
902296,1.0,11/28/2011 0:00:00,08:00:00 PM,CST,6.0,...,0.0,0.0,0.0,0.0,902297.0

In [36]:
df1 = df[['STATE', 'FATALITIES', 'INJURIES', 'COUNTY']]

In [37]:
df1

       STATE  FATALITIES  INJURIES  COUNTY
0         AL         0.0      15.0    97.0
1         AL         0.0       0.0     3.0
2         AL         0.0       2.0    57.0
3         AL         0.0       2.0    89.0
4         AL         0.0       2.0    43.0
...      ...         ...       ...     ...
902292    WY         0.0       0.0     7.0
902293    MT         0.0       0.0     9.0
902294    AK         0.0       0.0   213.0
902295    AK         0.0       0.0   202.0
902296    AL         0.0       0.0     6.0

[902297 rows x 4 columns]

In [40]:
county_fatal = df.groupby('COUNTY').FATALITIES.count()

In [41]:
county_fatal

COUNTY
0.0       6456
1.0      17810
2.0       3452
3.0      16220
4.0       2593
         ...
867.0       32
868.0       33
869.0       12
870.0        2
873.0        3
Name: FATALITIES, Length: 557, dtype: int64

In [42]:
county_fatal.max()

17810

In [43]:
county_fatal.plot.hist()

In [46]:
dfev = df[['EVTYPE']]

In [47]:
dfev.dropna(axis=1)

            EVTYPE
0          TORNADO
1          TORNADO
2          TORNADO
3          TORNADO
4          TORNADO
...            ...
902292   HIGH WIND
902293   HIGH WIND
902294   HIGH WIND
902295    BLIZZARD
902296  HEAVY SNOW

[902297 rows x 1 columns]

In [50]:
df_damage = df[(df.FATALITIES > 0) | (df.INJURIES > 0)]
df_damage.EVTYPE.unique().shape ####220 unique events

(220,)

In [52]:
df_damage

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
5,1.0,11/15/1951 0:00:00,2000,CST,77.0,...,8748.0,0.0,0.0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
901932,12.0,11/10/2011 0:00:00,03:00:00 PM,EST,25.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: Persistent onshore flow and...,901923.0
902002,53.0,11/22/2011 0:00:00,03:43:00 AM,PST,517.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: High wind occurred over the...,901993.0
902127,8.0,11/12/2011 0:00:00,10:10:00 AM,MST,36.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902128.0
902128,8.0,11/12/2011 0:00:00,12:51:00 PM,MST,38.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902129.0
902182,49.0,11/13/2011 0:00:00,02:30:00 PM,MST,8.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A moist storm system entere...,902183.0

In [53]:
df_damage.describe()

,STATE__,COUNTY,BGN_RANGE,COUNTY_END,COUNTYENDN,...,LATITUDE,LONGITUDE,LATITUDE_E,LONGITUDE_,REFNUM
count,21929.000000,21929.000000,21929.000000,21929.0,0.0,...,21929.000000,21929.000000,21929.000000,21929.000000,21929.000000
mean,28.080213,87.339733,0.855642,0.0,NaN,...,2125.484245,5196.644626,1315.943089,3205.507866,349910.502896
std,16.312386,93.553515,2.838700,0.0,NaN,...,1835.039405,4452.451562,1781.037339,4315.920601,252285.119787
min,1.000000,0.000000,0.000000,0.0,NaN,...,0.000000,-14445.000000,0.000000,0.000000,1.000000
25%,13.000000,25.000000,0.000000,0.0,NaN,...,0.000000,0.000000,0.000000,0.000000,137795.000000
50%,28.000000,67.000000,0.000000,0.0,NaN,...,3134.000000,8040.000000,0.000000,0.000000,308683.000000
75%,42.000000,115.000000,0.000000,0.0,NaN,...,3724.000000,9026.000000,3416.000000,8535.000000,529101.000000
max,92.000000,840.000000,80.000000,0.0,NaN,...,6115.000000,15933.000000,4855.000000,15933.000000,902183.000000

In [54]:
df_damage.EVTYPE.unique()

array(['TORNADO', 'TSTM WIND', 'HAIL', 'ICE STORM/FLASH FLOOD',
       'WINTER STORM', 'HURRICANE OPAL/HIGH WINDS', 'DENSE FOG',
       'RIP CURRENT', 'THUNDERSTORM WINDS', 'LIGHTNING', 'HEAT',
       'HEAVY RAIN', 'COLD', 'FLOODING', 'FLASH FLOOD', 'EXTREME COLD',
       'HIGH WIND', 'MARINE MISHAP', 'HIGH WIND/SEAS', 'HIGH SEAS',
       'HIGH WINDS', 'DUST STORM', 'SLEET', 'FLOOD',
       'THUNDERSTORM WINDS/HAIL', 'EXCESSIVE HEAT', 'GUSTY WINDS',
       'HIGH SURF', 'WILD FIRES', 'HIGH', 'WINTER STORM HIGH WINDS',
       'WINTER STORMS', 'THUNDERSTORM WIND', 'FLOOD/FLASH FLOOD',
       'HEAVY SNOW', 'FUNNEL CLOUD', 'STRONG WIND', 'DRY MIRCOBURST WINDS',
       'DRY MICROBURST', 'THUNDERSTORM WINDSS', 'ICE STORM', 'HEAT WAVE',
       'UNSEASONABLY WARM', 'STRONG WINDS', 'BLIZZARD',
       'WATERSPOUT TORNADO', 'HURRICANE ERIN', 'WATERSPOUT/TORNADO',
       'WIND', 'STORM SURGE', 'WATERSPOUT', 'HURRICANE OPAL',
       'TORNADOES, TSTM WIND, HAIL', 'TROPICAL STORM',
       'TROPICAL STORM GORDON', 'LIGHTNING INJURY',
       'LIGHTNING AND THUNDERSTORM WIN', 'AVALANCHE',
       'THUNDERSTORM WINDS 13', 'FLASH FLOODING', 'SNOW',
       'FREEZING RAIN/SNOW', 'THUNDERSNOW', 'RIVER FLOOD', 'EXTREME HEAT',
       'WINDS', 'FREEZING RAIN', 'FOG', 'SNOW AND ICE', 'WIND STORM',
       'ICE', 'WINTER WEATHER', 'URBAN AND SMALL STREAM FLOODIN', 'FREEZE',
       'LIGHTNING.', 'HURRICANE-GENERATED SWELLS', 'THUNDERTORM WINDS',
       'COLD WAVE', 'TORNADO F3', 'FLOOD/RIVER FLOOD', 'GLAZE/ICE STORM',
       'AVALANCE', 'HEAVY SNOW AND HIGH WINDS', 'RIP CURRENTS/HEAVY SURF',
       'FOG AND COLD TEMPERATURES', 'DUST DEVIL', 'HEAVY SURF',
       'ICY ROADS', 'RECORD HEAT', 'TORNADO F2', 'RIP CURRENTS',
       'HURRICANE EMILY', 'HURRICANE FELIX', 'THUNDERSTORM',
       'BLOWING SNOW', 'HIGH WIND/HEAVY SNOW', 'RAIN/WIND',
       'HEAT WAVE DROUGHT', 'HEAVY SNOW/BLIZZARD/AVALANCHE', 'HEAT WAVES',
       'UNSEASONABLY WARM AND DRY', 'UNSEASONABLY COLD',
       'RECORD/EXCESSIVE HEAT', 'THUNDERSTORM WIND G52', 'HIGH WAVES',
       'LOW TEMPERATURE', 'HYPOTHERMIA', 'COLD/WINDS', 'RECORD COLD',
       'SNOW/ BITTER COLD', 'HIGH WINDS/COLD', 'COLD WEATHER',
       'RAPIDLY RISING WATER', 'HEAVY RAINS', 'HEAVY SNOW/ICE',
       'SNOW/HIGH WINDS', 'HIGH WINDS/SNOW', 'FREEZING DRIZZLE',
       'FLASH FLOOD/FLOOD', 'EXCESSIVE RAINFALL', 'THUNDERSTORMW',
       'FLASH FLOODING/FLOOD', 'GLAZE', 'LANDSLIDE', 'HIGH WIND AND SEAS',
       'RIVER FLOODING', 'MINOR FLOODING', 'DROUGHT/EXCESSIVE HEAT',
       'HEAVY SEAS', 'FLOOD & HEAVY RAIN', 'THUNDERSTORM  WINDS',
       'HIGH WIND 48', 'THUNDERSTORMS WINDS', 'FLASH FLOODS',
       'URBAN/SML STREAM FLD', 'ROUGH SURF', 'WILD/FOREST FIRE',
       'Dust Devil', 'Marine Accident', 'Heavy Surf', 'COASTAL STORM',
       'HURRICANE', 'High Surf', 'Extreme Cold', 'Torrential Rainfall',
       'Hurricane Edouard', 'Coastal Storm', 'TIDAL FLOODING',
       'Strong Winds', 'Extended Cold', 'EXTREME WINDCHILL', 'Whirlwind',
       'Heavy snow shower', 'MIXED PRECIP', 'Freezing Spray',
       'TSTM WIND/HAIL', 'Mudslides', 'Mudslide', 'Cold', 'River Flooding',
       'Cold Temperature', 'Heat Wave', 'Snow', 'Coastal Flooding',
       'COLD AND SNOW', 'RAIN/SNOW', 'SNOW SQUALL', 'Hypothermia/Exposure',
       'HYPOTHERMIA/EXPOSURE', 'BLACK ICE', 'COASTALSTORM', 'Gusty winds',
       'blowing snow', 'FROST', 'Snow Squalls', 'Gusty Winds',
       'Heavy surf and wind', 'TYPHOON', 'LANDSLIDES', 'HIGH SWELLS',
       'SMALL HAIL', 'COASTAL FLOODING/EROSION', 'TSTM WIND (G40)',
       'TSTM WIND (G35)', 'HYPERTHERMIA/EXPOSURE', 'WINTRY MIX',
       'GUSTY WIND', 'EXCESSIVE SNOW', 'ICE ROADS', 'ROUGH SEAS',
       'TSTM WIND (G45)', 'NON-SEVERE WIND DAMAGE', 'WARM WEATHER',
       'THUNDERSTORM WIND (G40)', 'HIGH WATER', 'LIGHT SNOW',
       'WINTER WEATHER MIX', 'ROGUE WAVE', 'FALLING SNOW/ICE',
       'NON TSTM WIND', 'OTHER', 'BRUSH FIRE', 'COASTAL FLOODING',
       'HAZARDOUS SURF', 'ICE ON ROAD', 'DROWNING',
       'EXTREME COLD/WIND CHILL', 'HURRICANE/TYPHOON', 'WILDFIRE',
       'HEAVY SURF/HIGH SURF', 'WINTER WEATHER/MIX', 'MARINE TSTM WIND',
       'COASTAL FLOOD', 'DROUGHT', 'COLD/WIND CHILL',
       'MARINE THUNDERSTORM WIND', 'MARINE STRONG WIND',
       'STORM SURGE/TIDE', 'MARINE HIGH WIND', 'TSUNAMI'], dtype=object)

In [56]:
df_damage.groupby('STATE').FATALITIES.count()

STATE
AK     74
AL    890
AM     12
AN     12
AR    729
     ...
VT     53
WA    194
WI    503
WV    174
WY    141
Name: FATALITIES, Length: 63, dtype: int64

In [57]:
official_event_types = [
   'Astronomical Low Tide', 'Avalanche',
   'Blizzard', 'Coastal Flood', 'Cold/Wind Chill', 'Debris Flow',
   'Dense Fog', 'Dense Smoke', 'Drought', 'Dust Devil', 'Dust Storm',
   'Excessive Heat', 'Extreme Cold/Wind Chill', 'Flash Flood', 'Flood',
   'Frost/Freeze', 'Funnel Cloud', 'Freezing Fog', 'Hail', 'Heat',
   'Heavy Rain', 'Heavy Snow', 'High Surf', 'High Wind',
   'Hurricane (Typhoon)', 'Ice Storm', 'Lake-Effect Snow',
   'Lakeshore Flood', 'Lightning', 'Marine Hail', 'Marine High Wind',
   'Marine Strong Wind', 'Marine Thunderstorm Wind', 'Rip Current',
   'Seiche', 'Sleet', 'Storm Surge/Tide', 'Strong Wind',
   'Thunderstorm Wind', 'Tornado', 'Tropical Depression',
   'Tropical Storm', 'Tsunami', 'Volcanic Ash', 'Waterspout', 'Wildfire',
   'Winter Storm', 'Winter Weather',

   'OTHER'
]

In [58]:
official_event_types

['Astronomical Low Tide',
 'Avalanche',
 'Blizzard',
 'Coastal Flood',
 'Cold/Wind Chill',
 'Debris Flow',
 'Dense Fog',
 'Dense Smoke',
 'Drought',
 'Dust Devil',
 'Dust Storm',
 'Excessive Heat',
 'Extreme Cold/Wind Chill',
 'Flash Flood',
 'Flood',
 'Frost/Freeze',
 'Funnel Cloud',
 'Freezing Fog',
 'Hail',
 'Heat',
 'Heavy Rain',
 'Heavy Snow',
 'High Surf',
 'High Wind',
 'Hurricane (Typhoon)',
 'Ice Storm',
 'Lake-Effect Snow',
 'Lakeshore Flood',
 'Lightning',
 'Marine Hail',
 'Marine High Wind',
 'Marine Strong Wind',
 'Marine Thunderstorm Wind',
 'Rip Current',
 'Seiche',
 'Sleet',
 'Storm Surge/Tide',
 'Strong Wind',
 'Thunderstorm Wind',
 'Tornado',
 'Tropical Depression',
 'Tropical Storm',
 'Tsunami',
 'Volcanic Ash',
 'Waterspout',
 'Wildfire',
 'Winter Storm',
 'Winter Weather',
 'OTHER']

In [62]:
type(official_event_types)

list

In [65]:
official_event_types_lower = []
for event in official_event_types:
   event = event.lower()
   official_event_types_lower.append(event)

In [66]:
official_event_types_lower

['astronomical low tide',
 'avalanche',
 'blizzard',
 'coastal flood',
 'cold/wind chill',
 'debris flow',
 'dense fog',
 'dense smoke',
 'drought',
 'dust devil',
 'dust storm',
 'excessive heat',
 'extreme cold/wind chill',
 'flash flood',
 'flood',
 'frost/freeze',
 'funnel cloud',
 'freezing fog',
 'hail',
 'heat',
 'heavy rain',
 'heavy snow',
 'high surf',
 'high wind',
 'hurricane (typhoon)',
 'ice storm',
 'lake-effect snow',
 'lakeshore flood',
 'lightning',
 'marine hail',
 'marine high wind',
 'marine strong wind',
 'marine thunderstorm wind',
 'rip current',
 'seiche',
 'sleet',
 'storm surge/tide',
 'strong wind',
 'thunderstorm wind',
 'tornado',
 'tropical depression',
 'tropical storm',
 'tsunami',
 'volcanic ash',
 'waterspout',
 'wildfire',
 'winter storm',
 'winter weather',
 'other']

In [67]:
df_damage.EVTYPE.apply(str.lower)

0             tornado
2             tornado
3             tornado
4             tornado
5             tornado
             ...
901932    rip current
902002      high wind
902127      high wind
902128      high wind
902182      avalanche
Name: EVTYPE, Length: 21929, dtype: object

In [68]:
df_damage

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
5,1.0,11/15/1951 0:00:00,2000,CST,77.0,...,8748.0,0.0,0.0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
901932,12.0,11/10/2011 0:00:00,03:00:00 PM,EST,25.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: Persistent onshore flow and...,901923.0
902002,53.0,11/22/2011 0:00:00,03:43:00 AM,PST,517.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: High wind occurred over the...,901993.0
902127,8.0,11/12/2011 0:00:00,10:10:00 AM,MST,36.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902128.0
902128,8.0,11/12/2011 0:00:00,12:51:00 PM,MST,38.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902129.0
902182,49.0,11/13/2011 0:00:00,02:30:00 PM,MST,8.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A moist storm system entere...,902183.0

In [72]:
def to_lower_case(list):
   lower_case = []
   for event in list:
       event = event.lower()
       lower_case.append(event)
   return lower_case

In [73]:
official = to_lower_case(official_event_types)
print official

['astronomical low tide', 'avalanche', 'blizzard', 'coastal flood', 'cold/wind chill', 'debris flow', 'dense fog', 'dense smoke', 'drought', 'dust devil', 'dust storm', 'excessive heat', 'extreme cold/wind chill', 'flash flood', 'flood', 'frost/freeze', 'funnel cloud', 'freezing fog', 'hail', 'heat', 'heavy rain', 'heavy snow', 'high surf', 'high wind', 'hurricane (typhoon)', 'ice storm', 'lake-effect snow', 'lakeshore flood', 'lightning', 'marine hail', 'marine high wind', 'marine strong wind', 'marine thunderstorm wind', 'rip current', 'seiche', 'sleet', 'storm surge/tide', 'strong wind', 'thunderstorm wind', 'tornado', 'tropical depression', 'tropical storm', 'tsunami', 'volcanic ash', 'waterspout', 'wildfire', 'winter storm', 'winter weather', 'other']

In [75]:
dataset = to_lower_case(df.EVTYPE.unique())
dataset

['tornado',
 'tstm wind',
 'hail',
 'freezing rain',
 'snow',
 'ice storm/flash flood',
 'snow/ice',
 'winter storm',
 'hurricane opal/high winds',
 'thunderstorm winds',
 'record cold',
 'hurricane erin',
 'hurricane opal',
 'heavy rain',
 'lightning',
 'thunderstorm wind',
 'dense fog',
 'rip current',
 'thunderstorm wins',
 'flash flood',
 'flash flooding',
 'high winds',
 'funnel cloud',
 'tornado f0',
 'thunderstorm winds lightning',
 'thunderstorm winds/hail',
 'heat',
 'wind',
 'lighting',
 'heavy rains',
 'lightning and heavy rain',
 'funnel',
 'wall cloud',
 'flooding',
 'thunderstorm winds hail',
 'flood',
 'cold',
 'heavy rain/lightning',
 'flash flooding/thunderstorm wi',
 'wall cloud/funnel cloud',
 'thunderstorm',
 'waterspout',
 'extreme cold',
 'hail 1.75)',
 'lightning/heavy rain',
 'high wind',
 'blizzard',
 'blizzard weather',
 'wind chill',
 'breakup flooding',
 'high wind/blizzard',
 'river flood',
 'heavy snow',
 'freeze',
 'coastal flood',
 'high wind and high tides',
 'high wind/blizzard/freezing ra',
 'high tides',
 'high wind and heavy snow',
 'record cold and high wind',
 'record high temperature',
 'record high',
 'high winds heavy rains',
 'high wind/ blizzard',
 'ice storm',
 'blizzard/high wind',
 'high wind/low wind chill',
 'heavy snow/high',
 'record low',
 'high winds and wind chill',
 'heavy snow/high winds/freezing',
 'low temperature record',
 'avalanche',
 'marine mishap',
 'wind chill/high wind',
 'high wind/wind chill/blizzard',
 'high wind/wind chill',
 'high wind/heavy snow',
 'high temperature record',
 'flood watch/',
 'record high temperatures',
 'high wind/seas',
 'high winds/heavy rain',
 'high seas',
 'severe turbulence',
 'record rainfall',
 'record snowfall',
 'record warmth',
 'heavy snow/wind',
 'extreme heat',
 'wind damage',
 'dust storm',
 'apache county',
 'sleet',
 'hail storm',
 'funnel clouds',
 'flash floods',
 'dust devil',
 'excessive heat',
 'thunderstorm winds/funnel clou',
 'winter storm/high wind',
 'winter storm/high winds',
 'gusty winds',
 'strong winds',
 'flooding/heavy rain',
 'snow and wind',
 'heavy surf coastal flooding',
 'heavy surf',
 'heavy precipatation',
 'urban flooding',
 'high surf',
 'blowing dust',
 'urban/small',
 'wild fires',
 'high',
 'urban/small flooding',
 'water spout',
 'high winds dust storm',
 'winter storm high winds',
 'local flood',
 'winter storms',
 'mudslides',
 'rainstorm',
 'severe thunderstorm',
 'severe thunderstorms',
 'severe thunderstorm winds',
 'thunderstorms winds',
 'dry microburst',
 'flood/flash flood',
 'flood/rain/winds',
 'winds',
 'dry microburst 61',
 'thunderstorms',
 'flash flood winds',
 'urban/small stream flooding',
 'microburst',
 'strong wind',
 'high wind damage',
 'stream flooding',
 'urban and small',
 'heavy snowpack',
 'ice',
 'flash flood/',
 'downburst',
 'gustnado and',
 'flood/rain/wind',
 'wet microburst',
 'downburst winds',
 'dry microburst winds',
 'dry mircoburst winds',
 'dry microburst 53',
 'small stream urban flood',
 'microburst winds',
 'high winds 57',
 'dry microburst 50',
 'high winds 66',
 'high winds 76',
 'high winds 63',
 'high winds 67',
 'blizzard/heavy snow',
 'heavy snow/high winds',
 'blowing snow',
 'high winds 82',
 'high winds 80',
 'high winds 58',
 'freezing drizzle',
 'lightning thunderstorm windss',
 'dry microburst 58',
 'hail 75',
 'high winds 73',
 'high winds 55',
 'light snow and sleet',
 'urban flood',
 'dry microburst 84',
 'thunderstorm winds 60',
 'heavy rain/flooding',
 'thunderstorm windss',
 'tornados',
 'glaze',
 'record heat',
 'coastal flooding',
 'heat wave',
 'first snow',
 'freezing rain and sleet',
 'unseasonably dry',
 'unseasonably wet',
 'wintry mix',
 'winter weather',
 'unseasonably cold',
 'extreme/record cold',
 'rip currents heavy surf',
 'sleet/rain/snow',
 'unseasonably warm',
 'drought',
 'normal precipitation',
 'high winds/flooding',
 'dry',
 'rain/snow',
 'snow/rain/sleet',
 'waterspout/tornado',
 'waterspouts',
 'waterspout tornado',
 'urban/small stream flood',
 'storm surge',
 'waterspout-tornado',
 'waterspout-',
 'tornadoes, tstm wind, hail',
 'tropical storm alberto',
 'tropical storm',
 'tropical storm gordon',
 'tropical storm jerry',
 'lightning thunderstorm winds',
 'wayterspout',
 'minor flooding',
 'lightning injury',
 'urban/small stream  flood',
 'lightning and thunderstorm win',
 'thunderstorm winds53',
 'urban and small stream flood',
 'urban and small stream',
 'wildfire',
 'damaging freeze',
 'thunderstorm winds 13',
 'small hail',
 'heavy snow/high wind',
 'hurricane',
 'wild/forest fire',
 'small stream flooding',
 'mud slide',
 'ligntning',
 'frost',
 'freezing rain/snow',
 'high winds/',
 'thundersnow',
 'floods',
 'extreme wind chills',
 'cool and wet',
 'heavy rain/snow',
 'small stream and urban floodin',
 'small stream/urban flood',
 'snow/sleet/freezing rain',
 'severe cold',
 'glaze ice',
 'cold wave',
 'early snow',
 'small stream and urban flood',
 'high  winds',
 'rural flood',
 'small stream and',
 'mud slides',
 'hail 80',
 'extreme wind chill',
 'cold and wet conditions',
 'excessive wetness',
 'gradient winds',
 'heavy snow/blowing snow',
 'sleet/ice storm',
 'thunderstorm winds urban flood',
 'thunderstorm winds small strea',
 'rotating wall cloud',
 'large wall cloud',
 'cold air funnel',
 'gustnado',
 'cold air funnels',
 'blowing snow- extreme wind chi',
 'snow and heavy snow',
 'ground blizzard',
 'major flood',
 'snow/heavy snow',
 'freezing rain/sleet',
 'ice jam flooding',
 'snow- high wind- wind chill',
 'street flood',
 'cold air tornado',
 'small stream flood',
 'fog',
 'thunderstorm winds 2',
 'funnel cloud/hail',
 'ice/snow',
 'tstm wind 51',
 'tstm wind 50',
 'tstm wind 52',
 'tstm wind 55',
 'heavy snow/blizzard',
 'thunderstorm winds 61',
 'hail 0.75',
 'thunderstorm damage',
 'thundertorm winds',
 'hail 1.00',
 'hail/winds',
 'snow and ice',
 'wind storm',
 'snowstorm',
 'grass fires',
 'lake flood',
 'prolong cold',
 'hail/wind',
 'hail 1.75',
 'thunderstormw 50',
 'wind/hail',
 'snow and ice storm',
 'urban and small stream floodin',
 'thunderstorms wind',
 'thunderstorm  winds',
 'heavy snow/sleet',
 'agricultural freeze',
 'drought/excessive heat',
 'tunderstorm wind',
 'tropical storm dean',
 'thundertsorm wind',
 'thunderstorm winds/ hail',
 'thunderstorm wind/lightning',
 'heavy rain/severe weather',
 'thundestorm winds',
 'waterspout/ tornado',
 'lightning.',
 'warm dry conditions',
 'hurricane-generated swells',
 'heavy snow/ice storm',
 'river and stream flood',
 'high wind 63',
 'coastal surge',
 'heavy snow and ice storm',
 'minor flood',
 'high winds/coastal flood',
 'rain',
 'river flooding',
 'snow/rain',
 'ice floes',
 'high waves',
 'snow squalls',
 'snow squall',
 'thunderstorm wind g50',
 'lightning fire',
 'blizzard/freezing rain',
 'heavy lake snow',
 'heavy snow/freezing rain',
 'lake effect snow',
 'heavy wet snow',
 'dust devil waterspout',
 'thunderstorm winds/heavy rain',
 'thunderstrom winds',
 'thunderstorm winds      le cen',
 'hail 225',
 'blizzard and heavy snow',
 'heavy snow and ice',
 'ice storm and snow',
 'heavy snow andblowing snow',
 'heavy snow/ice',
 'blizzard and extreme wind chil',
 'low wind chill',
 'blowing snow & extreme wind ch',
 'waterspout/',
 'urban/small stream',
 'tornado f3',
 'funnel cloud.',
 'torndao',
 'hail 0.88',
 'flood/river flood',
 'mud slides urban flooding',
 'tornado f1',
 'thunderstorm winds g',
 'deep hail',
 'glaze/ice storm',
 'heavy snow/winter storm',
 'avalance',
 'blizzard/winter storm',
 'dust storm/high winds',
 'ice jam',
 'forest fires',
 'thunderstorm wind g60',
 'frost\\freeze',
 'thunderstorm winds.',
 'hail 88',
 'hail 175',
 'hvy rain',
 'hail 100',
 'hail 150',
 'hail 075',
 'thunderstorm wind g55',
 'hail 125',
 'thunderstorm winds g60',
 'hard freeze',
 'hail 200',
 'thunderstorm winds funnel clou',
 'thunderstorm winds 62',
 'wildfires',
 'record heat wave',
 'heavy snow and high winds',
 'heavy snow/high winds & flood',
 'hail flooding',
 'thunderstorm winds/flash flood',
 'high wind 70',
 'wet snow',
 'heavy rain and flood',
 'local flash flood',
 'thunderstorm winds 53',
 'flood/flash flooding',
 'tornado/waterspout',
 'rain and wind',
 'thunderstorm wind 59',
 'thunderstorm wind 52',
 'coastal/tidal flood',
 'snow/ice storm',
 'below normal precipitation',
 'rip currents/heavy surf',
 'flash flood/flood',
 'excessive rain',
 'record/excessive heat',
 'heat waves',
 'light snow',
 'thunderstorm wind 69',
 'hail damage',
 'lightning damage',
 'record temperatures',
 'lightning and winds',
 'fog and cold temperatures',
 'other',
 'record snow',
 'snow/cold',
 'flash flood from ice jams',
 'tstm wind g58',
 'mudslide',
 'heavy snow squalls',
 'heavy snow/squalls',
 'heavy snow-squalls',
 'icy roads',
 'heavy mix',
 'snow freezing rain',
 'lack of snow',
 'snow/sleet',
 'snow/freezing rain',
 'snow drought',
 'thunderstormw winds',
 'thunderstorm wind 60 mph',
 'thunderstorm wind 65mph',
 'thunderstorm wind/ trees',
 'thunderstorm wind/awning',
 'thunderstorm wind 98 mph',
 'thunderstorm wind trees',
 'torrential rain',
 'tornado f2',
 'rip currents',
 'hurricane emily',
 'hurricane gordon',
 'hurricane felix',
 'thunderstorm wind 59 mph',
 'thunderstorm winds 63 mph',
 'thunderstorm wind/ tree',
 'thunderstorm damage to',
 'thunderstorm wind 65 mph',
 'flash flood - heavy rain',
 'thunderstorm wind.',
 'flash flood/ street',
 'thunderstorm wind 59 mph.',
 'heavy snow   freezing rain',
 'dam failure',
 'thunderstorm hail',
 'hail 088',
 'thunderstorm windshail',
 'lightning  wauseon',
 'thuderstorm winds',
 'ice and snow',
 'record cold/frost',
 'storm force winds',
 'freezing rain and snow',
 'freezing rain sleet and',
 'southeast',
 'heavy snow & ice',
 'freezing drizzle and freezing',
 'thunderstorm winds and',
 'hail/icy roads',
 'flash flood/heavy rain',
 'heavy rain; urban flood winds;',
 'heavy precipitation',
 'tstm wind damage',
 'high water',
 'flood flash',
 'rain/wind',
 'thunderstorm winds 50',
 'thunderstorm wind g52',
 'flood flood/flash',
 'thunderstorm winds 52',
 'snow showers',
 'thunderstorm wind g51',
 'heat wave drought',
 'heavy snow/blizzard/avalanche',
 'record snow/cold',
 'wet weather',
 'unseasonably warm and dry',
 'freezing rain sleet and light',
 'record/excessive rainfall',
 'tidal flood',
 'beach erosin',
 'thunderstorm wind g61',
 'flood/flash',
 'low temperature',
 'sleet & freezing rain',
 'heavy rains/flooding',
 'thunderestorm winds',
 'thunderstorm winds/flooding',
 'thundeerstorm winds',
 'highway flooding',
 'thunderstorm w inds',
 'hypothermia',
 'flash flood/ flood',
 'thunderstorm wind 50',
 'thunerstorm winds',
 'heavy rain/mudslides/flood',
 'mud/rock slide',
 'high winds/cold',
 'beach erosion/coastal flood',
 'cold/winds',
 'snow/ bitter cold',
 'thunderstorm wind 56',
 'snow sleet',
 'dry hot weather',
 'cold weather',
 'rapidly rising water',
 'hail aloft',
 'early freeze',
 'ice/strong winds',
 'extreme wind chill/blowing sno',
 'snow/high winds',
 'high winds/snow',
 'early frost',
 'snowmelt flooding',
 'heavy snow and strong winds',
 'snow accumulation',
 'blowing snow/extreme wind chil',
 'snow/ ice',
 'snow/blowing snow',
 'tornadoes',
 'thunderstorm wind/hail',
 'flash flooding/flood',
 'hail 275',
 'hail 450',
 'flash floooding',
 'excessive rainfall',
 'thunderstormw',
 'hailstorm',
 'tstm winds',
 'beach flood',
 'hailstorms',
 'tstmw',
 'funnels',
 'tstm wind 65)',
 'thunderstorm winds/ flood',
 'heavy rainfall',
 'heat/drought',
 'heat drought',
 'near record snow',
 'landslide',
 'high wind and seas',
 'thunderstormwinds',
 'thunderstorm winds heavy rain',
 'sleet/snow',
 'excessive',
 'snow/sleet/rain',
 'wild/forest fires',
 'heavy seas',
 'duststorm',
 'flood & heavy rain',
 '?',
 'thunderstrom wind',
 'flood/flashflood',
 'snow and cold',
 'hot pattern',
 'prolong cold/snow',
 'brush fires',
 'snow\\cold',
 'winter mix',
 'excessive precipitation',
 'snowfall record',
 'hot/dry pattern',
 'dry pattern',
 'mild/dry pattern',
 'mild pattern',
 'landslides',
 'heavy showers',
 'heavy snow and',
 'high wind 48',
 'lake-effect snow',
 'brush fire',
 'waterspout funnel cloud',
 'urban small stream flood',
 'saharan dust',
 'heavy shower',
 'urban flood landslide',
 'heavy swells',
 'urban small',
 'urban floods',
 'small stream',
 'heavy rain/urban flood',
 'flash flood/landslide',
 'landslide/urban flood',
 'heavy rain/small stream urban',
 'flash flood landslides',
 'extreme windchill',
 'urban/sml stream fld',
 'tstm wind/hail',
 'other',
 'record dry month',
 'temperature record',
 'minor flooding',
 'ice jam flood (minor',
 'high wind',
 'tstm wind',
 'rough surf',
 'wind',
 'heavy surf',
 'dust devil',
 'wind damage',
 'marine accident',
 'snow',
 'freeze',
 'snow squalls',
 'coastal flooding',
 'heavy rain',
 'strong wind',
 'coastal storm',
 'coastalflood',
 'erosion/cstl flood',
 'heavy rain and wind',
 'light snow/flurries',
 'wet month',
 'wet year',
 'tidal flooding',
 'river flooding',
 'damaging freeze',
 'beach erosion',
 'hot and dry',
 'flood/flash flood',
 'icy roads',
 'high surf',
 'heavy rain/high surf',
 'thunderstorm wind',
 'rain damage',
 'unseasonable cold',
 'early frost',
 'wintry mix',
 'blowing snow',
 'street flooding',
 'record cold',
 'extreme cold',
 'ice fog',
 'excessive cold',
 'torrential rainfall',
 'freezing rain',
 'landslump',
 'late-season snowfall',
 'hurricane edouard',
 'coastal storm',
 'flood',
 'heavy rain/wind',
 'tidal flooding',
 'winter weather',
 'snow squalls',
 'strong winds',
 'strong winds',
 'record warm temps.',
 'ice/snow',
 'mudslide',
 'glaze',
 'extended cold',
 'snow accumulation',
 'freezing fog',
 'drifting snow',
 'whirlwind',
 'heavy snow shower',
 'heavy rain',
 'late snow',
 'record may snow',
 'record winter snow',
 'heavy precipitation',
 ' coastal flood',
 'record temperature',
 'light snow',
 'late season snowfall',
 'gusty wind',
 'small hail',
 'light snow',
 'mixed precip',
 'black ice',
 'mudslides',
 'gradient wind',
 'snow and ice',
 'freezing spray',
 'summary jan 17',
 'summary of march 14',
 'summary of march 23',
 'summary of march 24',
 'summary of april 3rd',
 'summary of april 12',
 'summary of april 13',
 'summary of april 21',
 'summary august 11',
 'summary of april 27',
 'summary of may 9-10',
 'summary of may 10',
 'summary of may 13',
 'summary of may 14',
 'summary of may 22 am',
 'summary of may 22 pm',
 'heatburst',
 'summary of may 26 am',
 'summary of may 26 pm',
 'metro storm, may 26',
 'summary of may 31 am',
 'summary of may 31 pm',
 'summary of june 3',
 'summary of june 4',
 'summary june 5-6',
 'summary june 6',
 'summary of june 11',
 'summary of june 12',
 'summary of june 13',
 'summary of june 15',
 'summary of june 16',
 'summary june 18-19',
 'summary of june 23',
 'summary of june 24',
 'summary of june 30',
 'summary of july 2',
 'summary of july 3',
 'summary of july 11',
 'summary of july 22',
 'summary july 23-24',
 'summary of july 26',
 'summary of july 29',
 'summary of august 1',
 'summary august 2-3',
 'summary august 7',
 'summary august 9',
 'summary august 10',
 'summary august 17',
 'summary august 21',
 'summary august 28',
 'summary september 4',
 'summary september 20',
 'summary september 23',
 'summary sept. 25-26',
 'summary: oct. 20-21',
 'summary: october 31',
 'summary: nov. 6-7',
 'summary: nov. 16',
 'microburst',
 'wet micoburst',
 'hail(0.75)',
 'funnel cloud',
 'urban flooding',
 'no severe weather',
 'urban flood',
 'urban flood',
 'cold',
 'summary of may 22',
 'summary of june 6',
 'summary august 4',
 'summary of june 10',
 'summary of june 18',
 'summary september 3',
 'summary: sept. 18',
 'coastal flood',
 'coastal flooding',
 'small hail',
 'record temperatures',
 'light snowfall',
 'freezing drizzle',
 'gusty wind/rain',
 'gusty wind/hvy rain',
 'blowing snow',
 'early snowfall',
 'monthly snowfall',
 'record heat',
 'seasonal snowfall',
 'monthly rainfall',
 'cold temperature',
 'sml stream fld',
 'heat wave',
 'mudslide/landslide',
 'saharan dust',
 'volcanic ash',
 'volcanic ash plume',
 'thundersnow shower',
 'none',
 'cold and snow',
 'dam break',
 'tstm wind (g45)',
 'sleet/freezing rain',
 'black ice',
 'blow-out tides',
 'unseasonably cool',
 'tstm heavy rain',
 'gusty winds',
 'gusty wind',
 'tstm wind 40',
 'tstm wind 45',
 'tstm wind (41)',
 'tstm wind (g40)',
 'tstm wnd',
 'wintry mix',
 ' tstm wind',
 'frost',
 'frost/freeze',
 'rain (heavy)',
 'record warmth',
 'prolong cold',
 'cold and frost',
 'urban/sml stream fldg',
 'strong wind gust',
 'late freeze',
 'blow-out tide',
 'hypothermia/exposure',
 'hypothermia/exposure',
 'lake effect snow',
 'mixed precipitation',
 'record high',
 'coastalstorm',
 'snow and sleet',
 'freezing rain',
 'gusty winds',
 'blizzard summary',
 'summary of march 24-25',
 'summary of march 27',
 'summary of march 29',
 'gradient wind',
 'icestorm/blizzard',
 'flood/strong wind',
 'tstm wind and lightning',
 'gradient wind',
 'freezing drizzle',
 'mountain snows',
 'urban/small strm fldg',
 'heavy surf and wind',
 'mild and dry pattern',
 'cold and frost',
 'typhoon',
 'high swells',
 'high  swells',
 'volcanic ash',
 'dry spell',
 ' lightning',
 'beach erosion',
 'unseasonal rain',
 'early rain',
 'prolonged rain',
 'wintery mix',
 'coastal flooding/erosion',
 'hot spell',
 'unseasonably hot',
 ' tstm wind (g45)',
 'tstm wind  (g45)',
 'high wind (g40)',
 'tstm wind (g35)',
 'dry weather',
 'abnormal warmth',
 'unusual warmth',
 'wake low wind',
 'monthly rainfall',
 'cold temperatures',
 'cold wind chill temperatures',
 'moderate snow',
 'moderate snowfall',
 'urban/street flooding',
 'coastal erosion',
 'unusual/record warmth',
 'bitter wind chill',
 'bitter wind chill temperatures',
 'seiche',
 'tstm',
 'coastal  flooding/erosion',
 'unseasonably warm year',
 'hyperthermia/exposure',
 'rock slide',
 'ice pellets',
 'patchy dense fog',
 'record cool',
 'record warm',
 'hot weather',
 'record temperature',
 'tropical depression',
 'volcanic eruption',
 'cool spell',
 'wind advisory',
 'gusty wind/hail',
 'red flag fire wx',
 'first frost',
 'excessively dry',
 'snow and sleet',
 'light snow/freezing precip',
 'vog',
 'monthly precipitation',
 'monthly temperature',
 'record dryness',
 'extreme windchill temperatures',
 'mixed precipitation',
 'dry conditions',
 'remnants of floyd',
 'early snowfall',
 'freezing fog',
 'landspout',
 'driest month',
 'record  cold',
 'late season hail',
 'excessive snow',
 'dryness',
 'flood/flash/flood',
 'wind and wave',
 'light freezing rain',
 ' wind',
 'monthly snowfall',
 'record precipitation',
 'ice roads',
 'rough seas',
 'unseasonably warm/wet',
 'unseasonably cool & wet',
 'unusually warm',
 'tstm wind g45',
 'non severe hail',
 'non-severe wind damage',
 'unusually cold',
 'warm weather',
 'landslump',
 'thunderstorm wind (g40)',
 'unseasonably warm & wet',
 ' flash flood',
 'locally heavy rain',
 'wind gusts',
 'unseasonal low temp',
 'high surf advisory',
 'late season snow',
 'gusty lake wind',
 'abnormally dry',
 'winter weather mix',
 'red flag criteria',
 'wnd',
 'cstl flooding/erosion',
 'smoke',
 ' waterspout',
 'snow advisory',
 'extremely wet',
 'unusually late snow',
 'very dry',
 'record low rainfall',
 'rogue wave',
 'prolong warmth',
 'accumulated snowfall',
 'falling snow/ice',
 'dust devel',
 'non-tstm wind',
 'non tstm wind',
 'gusty thunderstorm winds',
 'patchy ice',
 'heavy rain effects',
 'excessive heat/drought',
 'northern lights',
 'marine tstm wind',
 '   high surf advisory',
 'hazardous surf',
 'frost/freeze',
 'winter weather/mix',
 'astronomical high tide',
 'whirlwind',
 'very warm',
 'abnormally wet',
 'tornado debris',
 'extreme cold/wind chill',
 'ice on road',
 'drowning',
 'gusty thunderstorm wind',
 'marine hail',
 'high surf advisories',
 'hurricane/typhoon',
 'heavy surf/high surf',
 'sleet storm',
 'storm surge/tide',
 'cold/wind chill',

In [84]:
df2 = df[['STATE', 'FATALITIES', 'INJURIES', 'EVTYPE','LATITUDE','LONGITUDE']]

In [85]:
df2

       STATE  FATALITIES  INJURIES      EVTYPE  LATITUDE  LONGITUDE
0         AL         0.0      15.0     TORNADO    3040.0     8812.0
1         AL         0.0       0.0     TORNADO    3042.0     8755.0
2         AL         0.0       2.0     TORNADO    3340.0     8742.0
3         AL         0.0       2.0     TORNADO    3458.0     8626.0
4         AL         0.0       2.0     TORNADO    3412.0     8642.0
...      ...         ...       ...         ...       ...        ...
902292    WY         0.0       0.0   HIGH WIND       0.0        0.0
902293    MT         0.0       0.0   HIGH WIND       0.0        0.0
902294    AK         0.0       0.0   HIGH WIND       0.0        0.0
902295    AK         0.0       0.0    BLIZZARD       0.0        0.0
902296    AL         0.0       0.0  HEAVY SNOW       0.0        0.0

[902297 rows x 6 columns]

In [86]:
df2.EVTYPE = df2.EVTYPE.apply(str.lower)

/anaconda/lib/python2.7/site-packages/pandas/core/generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [87]:
df2

       STATE  FATALITIES  INJURIES      EVTYPE  LATITUDE  LONGITUDE
0         AL         0.0      15.0     tornado    3040.0     8812.0
1         AL         0.0       0.0     tornado    3042.0     8755.0
2         AL         0.0       2.0     tornado    3340.0     8742.0
3         AL         0.0       2.0     tornado    3458.0     8626.0
4         AL         0.0       2.0     tornado    3412.0     8642.0
...      ...         ...       ...         ...       ...        ...
902292    WY         0.0       0.0   high wind       0.0        0.0
902293    MT         0.0       0.0   high wind       0.0        0.0
902294    AK         0.0       0.0   high wind       0.0        0.0
902295    AK         0.0       0.0    blizzard       0.0        0.0
902296    AL         0.0       0.0  heavy snow       0.0        0.0

[902297 rows x 6 columns]

In [88]:
df2

       STATE  FATALITIES  INJURIES      EVTYPE  LATITUDE  LONGITUDE
0         AL         0.0      15.0     tornado    3040.0     8812.0
1         AL         0.0       0.0     tornado    3042.0     8755.0
2         AL         0.0       2.0     tornado    3340.0     8742.0
3         AL         0.0       2.0     tornado    3458.0     8626.0
4         AL         0.0       2.0     tornado    3412.0     8642.0
...      ...         ...       ...         ...       ...        ...
902292    WY         0.0       0.0   high wind       0.0        0.0
902293    MT         0.0       0.0   high wind       0.0        0.0
902294    AK         0.0       0.0   high wind       0.0        0.0
902295    AK         0.0       0.0    blizzard       0.0        0.0
902296    AL         0.0       0.0  heavy snow       0.0        0.0

[902297 rows x 6 columns]

In [89]:
df2[df2.EVTYPE.isin(official_event_types_lower)]

       STATE  FATALITIES  INJURIES      EVTYPE  LATITUDE  LONGITUDE
0         AL         0.0      15.0     tornado    3040.0     8812.0
1         AL         0.0       0.0     tornado    3042.0     8755.0
2         AL         0.0       2.0     tornado    3340.0     8742.0
3         AL         0.0       2.0     tornado    3458.0     8626.0
4         AL         0.0       2.0     tornado    3412.0     8642.0
...      ...         ...       ...         ...       ...        ...
902292    WY         0.0       0.0   high wind       0.0        0.0
902293    MT         0.0       0.0   high wind       0.0        0.0
902294    AK         0.0       0.0   high wind       0.0        0.0
902295    AK         0.0       0.0    blizzard       0.0        0.0
902296    AL         0.0       0.0  heavy snow       0.0        0.0

[635403 rows x 6 columns]

In [104]:
df_damage[df_damage.EVTYPE.isin(official_event_types_lower)]

Empty DataFrame
Columns: [STATE__, BGN_DATE, BGN_TIME, TIME_ZONE, COUNTY, COUNTYNAME, STATE, EVTYPE, BGN_RANGE, BGN_AZI, BGN_LOCATI, END_DATE, END_TIME, COUNTY_END, COUNTYENDN, END_RANGE, END_AZI, END_LOCATI, LENGTH, WIDTH, F, MAG, FATALITIES, INJURIES, PROPDMG, PROPDMGEXP, CROPDMG, CROPDMGEXP, WFO, STATEOFFIC, ZONENAMES, LATITUDE, LONGITUDE, LATITUDE_E, LONGITUDE_, REMARKS, REFNUM]
Index: []

[0 rows x 37 columns]

In [94]:
df_damage[df_damage.EVTYPE.isin(official_event_types_lower)]

Empty DataFrame
Columns: [STATE__, BGN_DATE, BGN_TIME, TIME_ZONE, COUNTY, COUNTYNAME, STATE, EVTYPE, BGN_RANGE, BGN_AZI, BGN_LOCATI, END_DATE, END_TIME, COUNTY_END, COUNTYENDN, END_RANGE, END_AZI, END_LOCATI, LENGTH, WIDTH, F, MAG, FATALITIES, INJURIES, PROPDMG, PROPDMGEXP, CROPDMG, CROPDMGEXP, WFO, STATEOFFIC, ZONENAMES, LATITUDE, LONGITUDE, LATITUDE_E, LONGITUDE_, REMARKS, REFNUM]
Index: []

[0 rows x 37 columns]

In [105]:
df_damage

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
5,1.0,11/15/1951 0:00:00,2000,CST,77.0,...,8748.0,0.0,0.0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
901932,12.0,11/10/2011 0:00:00,03:00:00 PM,EST,25.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: Persistent onshore flow and...,901923.0
902002,53.0,11/22/2011 0:00:00,03:43:00 AM,PST,517.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: High wind occurred over the...,901993.0
902127,8.0,11/12/2011 0:00:00,10:10:00 AM,MST,36.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902128.0
902128,8.0,11/12/2011 0:00:00,12:51:00 PM,MST,38.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902129.0
902182,49.0,11/13/2011 0:00:00,02:30:00 PM,MST,8.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A moist storm system entere...,902183.0

In [90]:
df2.STATE.unique()

array(['AL', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI',
       'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI',
       'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC',
       'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT',
       'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR', 'AK', 'ST', 'AS', 'GU',
       'MH', 'VI', 'AM', 'LC', 'PH', 'GM', 'PZ', 'AN', 'LH', 'LM', 'LE',
       'LS', 'SL', 'LO', 'PM', 'PK', 'XX'], dtype=object)

In [92]:
state_list = ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','PR','RI','SC','SD','TN','TX','UT','VT','VA','VI','WA','WV','WI','WY']

In [93]:
df_damage.STATE.isin(state_list).sum()/df_damage.shape[0]

0

In [95]:
cols = list(df2.columns.values)

In [96]:
cols

['STATE', 'FATALITIES', 'INJURIES', 'EVTYPE', 'LATITUDE', 'LONGITUDE']

In [97]:
df2 = df2[['STATE','EVTYPE','FATALITIES','INJURIES','LATITUDE','LONGITUDE']]

In [99]:
df2

       STATE      EVTYPE  FATALITIES  INJURIES  LATITUDE  LONGITUDE
0         AL     tornado         0.0      15.0    3040.0     8812.0
1         AL     tornado         0.0       0.0    3042.0     8755.0
2         AL     tornado         0.0       2.0    3340.0     8742.0
3         AL     tornado         0.0       2.0    3458.0     8626.0
4         AL     tornado         0.0       2.0    3412.0     8642.0
...      ...         ...         ...       ...       ...        ...
902292    WY   high wind         0.0       0.0       0.0        0.0
902293    MT   high wind         0.0       0.0       0.0        0.0
902294    AK   high wind         0.0       0.0       0.0        0.0
902295    AK    blizzard         0.0       0.0       0.0        0.0
902296    AL  heavy snow         0.0       0.0       0.0        0.0

[902297 rows x 6 columns]

In [102]:
df2.groupby(['STATE','EVTYPE'])['FATALITIES', 'INJURIES'].mean()

                                FATALITIES  INJURIES
STATE EVTYPE
AK    astronomical low tide       0.000000  0.000000
      avalanche                   0.622642  0.320755
      blizzard                    0.007856  0.005612
      blizzard weather            0.000000  0.000000
      blizzard/high wind          0.000000  0.000000
...                                    ...       ...
WY    wild/forest fire            0.027027  0.027027
      wildfire                    0.000000  0.263158
      winter storm                0.011605  0.230174
      winter weather              0.000000  0.000000
XX    marine thunderstorm wind    0.000000  0.000000

[4104 rows x 2 columns]

In [103]:
df2[ ['STATE','EVTYPE','FATALITIES', 'INJURIES'] ].groupby(['STATE']).mean()

       FATALITIES  INJURIES
STATE
AK       0.016853  0.025507
AL       0.034478  0.384450
AM       0.005322  0.015966
AN       0.003692  0.007077
AR       0.019556  0.204782
...           ...       ...
WA       0.044082  0.227355
WI       0.014104  0.116728
WV       0.010111  0.039894
WY       0.007638  0.058920
XX       0.000000  0.000000

[72 rows x 2 columns]

In [107]:
df2 = df[(df.FATALITIES > 0) | (df.INJURIES > 0)]
df2.EVTYPE.unique().shape ####220 unique events

(220,)

In [108]:
df2

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
5,1.0,11/15/1951 0:00:00,2000,CST,77.0,...,8748.0,0.0,0.0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
901932,12.0,11/10/2011 0:00:00,03:00:00 PM,EST,25.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: Persistent onshore flow and...,901923.0
902002,53.0,11/22/2011 0:00:00,03:43:00 AM,PST,517.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: High wind occurred over the...,901993.0
902127,8.0,11/12/2011 0:00:00,10:10:00 AM,MST,36.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902128.0
902128,8.0,11/12/2011 0:00:00,12:51:00 PM,MST,38.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902129.0
902182,49.0,11/13/2011 0:00:00,02:30:00 PM,MST,8.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A moist storm system entere...,902183.0

In [109]:
df2.EVTYPE.apply(str.lower)

0             tornado
2             tornado
3             tornado
4             tornado
5             tornado
             ...
901932    rip current
902002      high wind
902127      high wind
902128      high wind
902182      avalanche
Name: EVTYPE, Length: 21929, dtype: object

In [110]:
df2

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
5,1.0,11/15/1951 0:00:00,2000,CST,77.0,...,8748.0,0.0,0.0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
901932,12.0,11/10/2011 0:00:00,03:00:00 PM,EST,25.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: Persistent onshore flow and...,901923.0
902002,53.0,11/22/2011 0:00:00,03:43:00 AM,PST,517.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: High wind occurred over the...,901993.0
902127,8.0,11/12/2011 0:00:00,10:10:00 AM,MST,36.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902128.0
902128,8.0,11/12/2011 0:00:00,12:51:00 PM,MST,38.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902129.0
902182,49.0,11/13/2011 0:00:00,02:30:00 PM,MST,8.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A moist storm system entere...,902183.0

In [111]:
df2.EVTYPE

0             TORNADO
2             TORNADO
3             TORNADO
4             TORNADO
5             TORNADO
             ...
901932    RIP CURRENT
902002      HIGH WIND
902127      HIGH WIND
902128      HIGH WIND
902182      AVALANCHE
Name: EVTYPE, Length: 21929, dtype: object

In [112]:
df2[ ['STATE','EVTYPE','FATALITIES', 'INJURIES'] ].groupby(['STATE']).mean()

       FATALITIES  INJURIES
STATE
AK       1.000000  1.513514
AL       0.880899  9.822472
AM       0.833333  2.500000
AN       1.000000  1.916667
AR       0.727023  7.613169
...           ...       ...
VT       0.433962  1.339623
WA       0.752577  3.881443
WI       0.554672  4.590457
WV       0.528736  2.086207
WY       0.397163  3.063830

[63 rows x 2 columns]

In [113]:
df2[df2.EVTYPE.isin(official_event_types)]

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
251293,6.0,9/15/1996 0:00:00,10:30:00 AM,PST,73.0,...,0.0,0.0,0.0,Merchandise and pieces of tarpaulin were sent ...,251265.0
254085,15.0,3/16/1996 0:00:00,12:00:00 AM,HST,4.0,...,0.0,0.0,0.0,Large ocean swell generated by a distant north...,254065.0
254098,15.0,5/26/1996 0:00:00,10:00:00 AM,HST,2.0,...,0.0,0.0,0.0,"A fall storm in the southern hemisphere, to th...",254078.0
254117,15.0,7/22/1996 0:00:00,01:00:00 PM,HST,1.0,...,0.0,0.0,0.0,"A storm low in the southern hemisphere, center...",254097.0
254123,15.0,10/26/1996 0:00:00,11:00:00 PM,HST,1.0,...,0.0,0.0,0.0,Ocean swell generated by a storm low far to th...,254103.0
435358,35.0,7/15/2001 0:00:00,05:10:00 PM,MST,15.0,...,0.0,0.0,0.0,Four children received minor injuries when cau...,435309.0

In [114]:
df2

,STATE__,BGN_DATE,BGN_TIME,TIME_ZONE,COUNTY,...,LONGITUDE,LATITUDE_E,LONGITUDE_,REMARKS,REFNUM
0,1.0,4/18/1950 0:00:00,130,CST,97.0,...,8812.0,3051.0,8806.0,NaN,1.0
2,1.0,2/20/1951 0:00:00,1600,CST,57.0,...,8742.0,0.0,0.0,NaN,3.0
3,1.0,6/8/1951 0:00:00,900,CST,89.0,...,8626.0,0.0,0.0,NaN,4.0
4,1.0,11/15/1951 0:00:00,1500,CST,43.0,...,8642.0,0.0,0.0,NaN,5.0
5,1.0,11/15/1951 0:00:00,2000,CST,77.0,...,8748.0,0.0,0.0,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...
901932,12.0,11/10/2011 0:00:00,03:00:00 PM,EST,25.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: Persistent onshore flow and...,901923.0
902002,53.0,11/22/2011 0:00:00,03:43:00 AM,PST,517.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: High wind occurred over the...,901993.0
902127,8.0,11/12/2011 0:00:00,10:10:00 AM,MST,36.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902128.0
902128,8.0,11/12/2011 0:00:00,12:51:00 PM,MST,38.0,...,0.0,0.0,0.0,"EPISODE NARRATIVE: Hurricane force winds, up t...",902129.0
902182,49.0,11/13/2011 0:00:00,02:30:00 PM,MST,8.0,...,0.0,0.0,0.0,EPISODE NARRATIVE: A moist storm system entere...,902183.0

In [115]:
df2.groupby(['STATE','EVTYPE'])['FATALITIES', 'INJURIES'].mean()

                        FATALITIES   INJURIES
STATE EVTYPE
AK    AVALANCHE           1.137931   0.586207
      BLIZZARD            0.875000   0.625000
      COASTAL FLOOD       1.500000   0.000000
      EXCESSIVE HEAT      1.000000   0.000000
      EXTREME COLD        1.000000   0.500000
...                            ...        ...
WY    TORNADO             0.137931   3.482759
      TSTM WIND           0.000000   2.750000
      WILD/FOREST FIRE    1.000000   1.000000
      WILDFIRE            0.000000   5.000000
      WINTER STORM        0.600000  11.900000

[1480 rows x 2 columns]

In [116]:
df2.groupby(['STATE','EVTYPE'])['FATALITIES', 'INJURIES'].sum()
####looking state by for each evtype, number of fatalities and injuries

                        FATALITIES  INJURIES
STATE EVTYPE
AK    AVALANCHE               33.0      17.0
      BLIZZARD                 7.0       5.0
      COASTAL FLOOD            3.0       0.0
      EXCESSIVE HEAT           1.0       0.0
      EXTREME COLD             2.0       1.0
...                            ...       ...
WY    TORNADO                  4.0     101.0
      TSTM WIND                0.0      11.0
      WILD/FOREST FIRE         1.0       1.0
      WILDFIRE                 0.0      10.0
      WINTER STORM             6.0     119.0

[1480 rows x 2 columns]

In [117]:
dfmost = df2.groupby(['STATE','EVTYPE'])['FATALITIES', 'INJURIES'].sum()

In [119]:
dfmost.max()

FATALITIES     653.0
INJURIES      8207.0
dtype: float64

In [123]:
dfmost.FATALITIES.value_counts()

0.0      394
1.0      341
2.0      161
3.0       96
4.0       74
        ...
57.0       1
42.0       1
110.0      1
44.0       1
359.0      1
Name: FATALITIES, Length: 89, dtype: int64

In [124]:
dfmost[dfmost.FATALITIES == dfmost.FATALITIES.max()]

              FATALITIES  INJURIES
STATE EVTYPE
IL    HEAT         653.0     241.0

In [ ]:
###max number of fatalities happened in illinois due to heat

In [134]:
df4 = df[['STATE','COUNTY','BGN_DATE', 'FATALITIES', 'INJURIES', 'EVTYPE','LATITUDE','LONGITUDE']]

In [136]:
df4

,STATE,COUNTY,BGN_DATE,FATALITIES,INJURIES,EVTYPE,LATITUDE,LONGITUDE
0,AL,97.0,4/18/1950 0:00:00,0.0,15.0,TORNADO,3040.0,8812.0
1,AL,3.0,4/18/1950 0:00:00,0.0,0.0,TORNADO,3042.0,8755.0
2,AL,57.0,2/20/1951 0:00:00,0.0,2.0,TORNADO,3340.0,8742.0
3,AL,89.0,6/8/1951 0:00:00,0.0,2.0,TORNADO,3458.0,8626.0
4,AL,43.0,11/15/1951 0:00:00,0.0,2.0,TORNADO,3412.0,8642.0
...,...,...,...,...,...,...,...,...
902292,WY,7.0,11/30/2011 0:00:00,0.0,0.0,HIGH WIND,0.0,0.0
902293,MT,9.0,11/10/2011 0:00:00,0.0,0.0,HIGH WIND,0.0,0.0
902294,AK,213.0,11/8/2011 0:00:00,0.0,0.0,HIGH WIND,0.0,0.0
902295,AK,202.0,11/9/2011 0:00:00,0.0,0.0,BLIZZARD,0.0,0.0
902296,AL,6.0,11/28/2011 0:00:00,0.0,0.0,HEAVY SNOW,0.0,0.0

In [137]:
df4 = df4[(df.FATALITIES > 0) | (df.INJURIES > 0)]
df4.EVTYPE.unique().shape

(220,)

In [138]:
df4.groupby(['STATE','COUNTY','EVTYPE'])['FATALITIES', 'INJURIES'].sum()
####looking state by county for each evtype, number of fatalities and injuries

                               FATALITIES  INJURIES
STATE COUNTY EVTYPE
AK    0.0    HIGH WIND                0.0       1.0
             MARINE MISHAP            7.0       5.0
      1.0    BLIZZARD                 1.0       0.0
             HEAVY SNOW               0.0       2.0
      5.0    WILD/FOREST FIRE         0.0       9.0
...                                   ...       ...
WY    67.0   HIGH WIND                0.0       4.0
      69.0   HIGH WIND                0.0       2.0
             ICY ROADS                1.0       2.0
      70.0   BLIZZARD                 1.0       0.0
      106.0  HIGH WIND                1.0       0.0

[10016 rows x 2 columns]

In [167]:
df4county = df4county.groupby(['STATE','COUNTY','BGN_DATE','EVTYPE'])['FATALITIES', 'INJURIES'].sum()
####looking state by county for each evtype, number of fatalities and injuries

In [168]:
df4county

                                               FATALITIES  INJURIES
STATE COUNTY BGN_DATE           EVTYPE
AK    0.0    1/15/1995 0:00:00  MARINE MISHAP         6.0       0.0
             1/27/1995 0:00:00  MARINE MISHAP         1.0       5.0
             1/29/1993 0:00:00  HIGH WIND             0.0       1.0
      1.0    10/27/1996 0:00:00 BLIZZARD              1.0       0.0
             12/20/1996 0:00:00 HEAVY SNOW            0.0       2.0
...                                                   ...       ...
WY    69.0   12/26/1998 0:00:00 ICY ROADS             1.0       1.0
             12/9/1998 0:00:00  ICY ROADS             0.0       1.0
             6/6/2007 0:00:00   HIGH WIND             0.0       1.0
      70.0   12/20/2006 0:00:00 BLIZZARD              1.0       0.0
      106.0  2/11/2011 0:00:00  HIGH WIND             1.0       0.0

[21143 rows x 2 columns]

In [169]:
import datetime as dt

In [171]:
df4county['date'] = pd.to_datetime(df4county['BGN_DATE'])
df4county['year'] = df4county['date'].dt.year

KeyError: 'BGN_DATE'

In [170]:
df4county

                                               FATALITIES  INJURIES
STATE COUNTY BGN_DATE           EVTYPE
AK    0.0    1/15/1995 0:00:00  MARINE MISHAP         6.0       0.0
             1/27/1995 0:00:00  MARINE MISHAP         1.0       5.0
             1/29/1993 0:00:00  HIGH WIND             0.0       1.0
      1.0    10/27/1996 0:00:00 BLIZZARD              1.0       0.0
             12/20/1996 0:00:00 HEAVY SNOW            0.0       2.0
...                                                   ...       ...
WY    69.0   12/26/1998 0:00:00 ICY ROADS             1.0       1.0
             12/9/1998 0:00:00  ICY ROADS             0.0       1.0
             6/6/2007 0:00:00   HIGH WIND             0.0       1.0
      70.0   12/20/2006 0:00:00 BLIZZARD              1.0       0.0
      106.0  2/11/2011 0:00:00  HIGH WIND             1.0       0.0

[21143 rows x 2 columns]